[Unit]
Description=slimpend daemon
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/local/bin/slimpend serve

[Install]
WantedBy=default.target
